/* IMAGES */





/* BASE STYLES
---------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background-color: #152309;
    color: #afe9ad;
}





/* TYPOGRAPHY
---------------------------------------------- */
h1 {
    text-align: center;
    font-size: 1em;
    margin: 5em auto;
    border-bottom: 1px solid;
    padding-bottom: 0.5em;
}

/* IMAGES
---------------------------------------------- */
img {
    margin-top: 20px;
    margin-left: 10%;
    float: left;
    width: 300px;
    height: 300px;
    padding: 10px;
    object-fit: cover;
}
.wide-image {
    width: 100px;
}
.narrow-image {
    width: 100px;
}